<div class="categories-panel">
  <div class="categories-panel__form">
    <app-create-category></app-create-category>
  </div>
  <div class="categories-panel__table">
    <div class="categories-panel__table-content">
      <app-dynamic-table
      [headers]="headers"
      [rows]="rows"
      [currentSortOrder]="currentSortOrder"
      [currentPage]="currentPage"
      [totalPages]="paginationInfo.totalPages"
      [maxVisiblePages]="maxVisiblePages"
      [paginationInfo]="paginationInfo"
      (sortChange)="onSortChange($event)"
      (pageChange)="onPageChange($event)"
    ></app-dynamic-table>
    </div>
   
</div>
