@import "src/variables.scss";
.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 5px $purple;
  width: 200px;
  height: 350px;
  margin: auto 0;

  &__header {
    margin-bottom: 16px;
  }

  &__title {
    margin: 0;
    font-size: 1.3em;
    color: $purple;
    height: 55px;
  }

  &__brand {
    margin: 4px 0 16px;
    font-size: 1.1em;
    color: #777;
    height: 30px;
  }

  &__body {
    margin-bottom: 16px;
  }

  &__description {
    margin: 0;
    font-size: 1em;
    color: #555;
    overflow-y: auto;
    height: 80px;
  }

  &__categories{
    height: 50px;
  }

  &__footer {
    font-size: 0.9em;
    height: 100px;
    color: #888;
  }

  &__categories-label {
    font-weight: bold;
    margin-right: 8px;
  }

  &__category {
    display: inline-block;
    margin-right: 4px;
    color: #555;
    @media (max-width: $phone) {
      height: 30px;  
    
    }
  }

  &__price{
    margin: 0;
  }

  &__quantity{
    margin: 0;
  }

  &__category-separator {
    margin-right: 4px;
    color: #888;
  }

  &__buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__add{
    background-color: red;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0);
    border: none;
    cursor: pointer;

    &:hover{
      transform: scale(1.1);
    }
  }
}
