<footer class="footer">
  <div class="footer__container">
    <div class="footer__content">
      <div>
        <app-logo class="footer__logo" [width]="183" [height]="80"></app-logo>
      </div>
      <div class="footer__info">
        <p class="footer__info__phone">+57 350 731 0045</p>
        <p class="footer__info__date">{{ date }}</p>
        <p class="footer__info__email">riveramarlon33&#64;gmail.com</p>
      </div>
    </div>
    <div class="footer__copy">
      <app-logo class="footer__copy--logo" [width]="87" [height]="32"></app-logo>
      <p class="footer__copy--info">
        © {{ currentYear }}-{{ currentYear }} Emazon. Todos los derechos
        reservados
      </p>
    </div>
  </div>
</footer>
