<div #comboboxDiv class="combobox" (focusout)="onComboboxFocusOut($event)">
  <div class="combobox__input-wrapper">
    <input
      type="text"
      class="combobox__input"
      [formControl]="searchControl"
      (focusin)="onFocus()"
    />
  </div>

  <ul
    class="combobox__options"
    [ngClass]="{'show': isFocused && filteredOptions.length > 0}"
    *ngIf="isFocused && filteredOptions.length > 0"
  >
    <li
      *ngFor="let option of filteredOptions"
      class="combobox__option"
      (mousedown)="selectOption(option)"
    >
      {{ option.name }}
    </li>
  </ul>
</div>