@import "src/variables.scss";

.header {
  color: $black;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  &__container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  &__search {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }

  &__login {
    display: flex;
    align-items: center;
    gap: 10px;
    &__login {
      color: $black;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
    }

    &__signup {
      color: $purple;
      cursor: pointer;
    }

    &__button {
      background-color: rgba(0, 0, 0, 0);
      border: none;
      cursor: pointer;
      @media (max-width: $phone) {
        display: none;
      }
    }
  }

  &__menu-button {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: $purple;
    cursor: pointer;

    @media (max-width: $phone) {
      display: block;
    }
  }

  &__navbar {
    display: flex;
    justify-content: center;
    width: 100vw;
    border-bottom: 1px solid $purple;

    &--items {
      display: flex;
      background-color: white;

      @media (max-width: $phone) {
        display: none;
      }
    }

    &--item {
      display: flex;
      align-items: center;
      margin: 0 10px;
      height: 40px;

      &__button {
        background-color: rgba(0, 0, 0, 0);
        color: $purple;
        border: none;
        height: 30px;
        cursor: pointer;
        font-size: 20px;
        font-family: "Poppins", sans-serif;
        
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  &__mobile-menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;

    @media (min-width: $phone) {
      display: none;
    }

    &-content {
      width: 60vw;
      height: 100vh;
      background-color: $purple;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      transform: translateX(100%);

      ul {
        list-style: none;
        padding: 0;
      }

      button {
        color: white;
        font-size: 20px;
        font-family: "Poppins", sans-serif;
        background: none;
        border: none;
        cursor: pointer;
        margin: 10px 0;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    &.is-open {
      visibility: visible;
      opacity: 1;
      animation: fadeIn 0.3s ease forwards;

      & > .header__mobile-menu-content {
        animation: slideIn 0.3s ease forwards;
      }
    }

  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}