@import "src/variables.scss";
.register-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
  @media (max-width: $phone) {
    grid-template-columns: 1fr;
  }
}
.error-message {
  width: 450px;
  height: 30px;
  opacity: 0;
  transition: opacity 0.3s ease;
  color: $error;
  margin-bottom: 15px;
  &.visible {
    opacity: 1;
  }
  @media (max-width: $phone) {
    width: auto;
    margin-bottom: 20px;
  }
}
