@import "src/variables.scss";

.combobox {
  position: relative;

  &__input-wrapper {
    position: relative;
    width: 100%;
  }

  &__input {
    width: 93%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid $spacer_light;
    border-radius: 4px;
    background-color: #ffffff;
    color: $black;
    box-sizing: border-box;

    &:focus {
      border: 1px solid $purple;
      outline: none;
    }
  }

  &__options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 93%;
    margin: 0;

    max-height: 150px;
    overflow-y: auto;
    padding: 0;
    border: 1px solid $spacer_light;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;

    &.show {
      opacity: 1;
      visibility: visible;
    }

    @media (max-width: $tablet) {
      width: 95%;
    }
  }

  &__option {
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid #eee;
    cursor: pointer;

    &--disabled {
      color: #aaa;
      cursor: not-allowed;
    }

    &:hover {
      background-color: $purple;
      color: #fff;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

.selected-items {
  height: 100px;
  margin-top: 20px;
  overflow-y: auto;

  h4 {
    margin-bottom: 10px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }

  .selected-item {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  .remove-btn {
    background-color: $error;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: darken($error, 10%);
    }
  }

  .warning {
    color: $error;
    margin-top: 10px;
  }
}
