<div class="combobox">
  <div class="combobox__input-wrapper">
    <input
      type="text"
      class="combobox__input"
      [formControl]="searchControl"
      placeholder="Buscar..."
    />
  </div>

  <ul class="combobox__options">
    <li
      *ngFor="let option of filteredOptions"
      class="combobox__option"
      [class.combobox__option--disabled]="isOptionDisabled(option)"
      (click)="selectOption(option)"
      [ngClass]="{ disabled: isOptionDisabled(option) }"
    >
      {{ option.name }}
    </li>
  </ul>
</div>

<div class="selected-items">
  <h4>Seleccionados:</h4>
  <ul>
    <li *ngFor="let item of selectedItems" class="selected-item">
      {{ item.name }}
      <button class="remove-btn" (click)="removeItem(item.id)">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          viewBox="0 0 16 16"
        >
          <path
            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
          />
        </svg>
      </button>
    </li>
  </ul>
</div>
