$phone: 768px;
$tablet: 1024px;

$purple: #9D3FE7;
$gradient: linear-gradient(159.13deg, rgba(157, 63, 231, 0.2413) 0%, rgba(96, 32, 147, 1) 100%);
$black: #1A141F;
$hint_text: #4B3A5A;
$border: #ABA7AF;
$disabled: #D4D2D5;
$spacer: #D9D1E0;
$spacer_light: #E5E0EB;
$bg_light_grey: #F5F3F7;
$error: #D51A52;
$attention: #FF9500;
$approval: #00B998;
$link: #0F0BAB;
$logo-width-desktop-footer: 183px;
$logo-height-desktop-footer: 80px;
$logo-width-phone-footer: 87px;
$logo-height-phone-footer: 32px;